<!DOCTYPE html>
<html ng-controller="ColabCtrl">

  <head>
    <meta charset="UTF-8">
    <title>Cleto Gadelha | Crud Colaboradores</title>
  </head>

  <style>
    #map {
        height: 300px;
        border-radius: 5px;
        border: 1px solid silver;
    }

    .circulo {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      border: 1px solid #000;
      z-index: 5;
      left: 30px;
    }

    .img {
      z-index: 1;
      width: 135px;
      height: 135px;
      position: relative;
      right: 3px;
      background-position: center;
    }

    .imgYeoman {
      width: 130px;
      height: 130px;
      position: relative;
      position: relative;
    }

    .dentro {
      text-align: center;
      vertical-align: middle;
    }
  </style>

  <h1 class="text-center">Colaborador</h1>
  <body flow-prevent-drop>
    <form name="formColab" ng-submit="salvarColaborador()">
      <div id="divMsg">
        <div class="alert alert-success" ng-show="mensagemSucesso">
          {{mensagemSucesso}}
        </div>
        <div class="alert alert-danger" ng-show="mensagemErro">
          {{mensagemErro}}
        </div>
      </div>
      <button class="fa fa-check btn btn-primary pull-right" type="submit">
        Salvar
      </button>
      <a style="cursor: pointer; text-decoration: none !important;" class='fa fa-arrow-left fa-2x pull-left' ng-href='#/lista' title="Voltar" type="button"  ></a>
      <!-- DRAG AND DROP IMAGE -->
      <div align="center" flow-init='{singleFile:true}' flow-image-resize flow-files-submitted="$flow.upload()"
                    flow-file-success="$file.msg = $message" flow-name="objFlow.flow">
        <div class="circulo" flow-drop>
          <div class="img">
            <img ng-hide="$flow.files[0]" src="images/yeoman.png" class="imgYeoman img-circle">
            <img ng-show="$flow.files[0]" my-flow-img="$flow.files[0]" class="img-circle"/>
          </div>
          <div class="dentro">
            <span class="fa fa-camera btn btn-link" flow-btn>
              Escolher Foto</span>
          </div>
        </div>
      </div>
      <!-- /DRAG AND DROP IMAGE -->
    </br>
  </br>
  <!-- NOME COLABORADOR -->
  <div class="form-group">
    <input class="form-control" id="nome" placeholder="Nome Completo" required name="nome" ng-model="colaborador.nome" type="text">
  </div>
  <!-- /NOME COLABORADOR -->
  <!-- PROFISSAO COLABORADOR -->
  <div class="form-group">
 <select class="form-control" name="profissao" id="profissaoSelect" ng-model="colaborador.profissao" required>
      <option value="">Selecione sua Profissão</option>
      <option ng-repeat="prof in profissoesDisponiveis" value="{{prof.profissao}}">{{prof.profissao}}</option>
    </select>
  </div>
  <!-- /PROFISSAO COLABORADOR -->
  <!-- localTrabalho COLABORADOR -->
  <div class="form-group">
    <select class="form-control" name="localTrabalho" id="localTrabalhoSelect" ng-model="colaborador.localTrabalho" required>
      <option value="">Selecione seu Local de Trabalho</option>
      <option ng-repeat="local in localTrabalhoDisponiveis" value="{{local.localizacao}}">{{local.localizacao}}</option>
    </select>


  </div>
  <!-- /localTrabalho COLABORADOR -->
  <!-- biografia COLABORADOR -->
  <div class="form-group">
    <textarea class="form-control" ng-model="colaborador.biografia" name="biografia" id="biografiaTextArea" required placeholder="Fale um pouco de você" ng-trim="false">
    </textarea>
  </div>
  <!-- /biografia COLABORADOR -->
  <!-- competencias COLABORADOR -->
  TESTE
  <div class="form-group">
    <label for="competencias">Competências</label>
    <ui-select class="form-control" multiple tagging tagging-label=" - Insira uma Nova Competência" ng-model="colaborador.competencias" theme="bootstrap" title="Insira suas competencias">
      <ui-select-match placeholder="Insira suas Competências">{{$item.descricao}}</ui-select-match>
      <ui-select-choices repeat="competencia in competenciaDisponiveis | filter:$select.search">
        {{competencia.descricao}}
      </ui-select-choices>
    </ui-select>
  </div>
  TESTE
  <!-- /competencias COLABORADOR -->
  <!-- contatos COLABORADOR -->
  <div class="form-group">
    <label for="contatos">Contatos</label>
    <div class="form-inline">
      <i class="form-control {{setaClasseContato(contatoSelecionado.descricao)}}"></i>
      <select class="form-control" name="contato" id="contatoSelect" ng-model="contatoSelecionado" required ng-options="contato as contato.descricao for contato in contatosDisponiveis">>
      </select>
      <input class="form-control" id="contato" placeholder="Informe seu contato" name="contato" ng-model="contato" type="text">
      <input value="Novo" type="button" class="pull-right btn btn-warning" ng-click="insereContato(); resetFormCampo(formColab)" ng-disabled="formColab.contato.$pristine"/>
    </div>
    <br/><br/>
    <table class="table table-striped">
      <tr ng-repeat="contato in colaborador.listaContatos">
        <td style="width:10px">
          <i class="{{setaClasseContato(contato.tipo)}}"></i>
        </td>
        <td>{{ contato.tipo }}</td>
        <td>{{ contato.contato }}</td>
        <td>
          <button class="pull-right fa fa-times" ng-click="removeContato({{contato}})"></button>
        </td>
      </tr>
    </table>
  </div>
  <!-- /contatos COLABORADOR -->
  <!-- ENDERECO COLABORADOR -->
  <div class="form-group">
    <div class="form-inline">
      <i class="fa fa-map-marker fa-2x"></i>
      <input class="form-control" required style="width:97%"
          id="endereco" placeholder="Informe seu endereço" name="endereco"
          ng-model="colaborador.endereco" type="text" ng-blur="search()" my-enter="search()">
    </div>
  </br>
  <!-- GOOGLE MAPS -->
  <div id="map"></div>
  TESTE
</form>
</body>

</html>
