<!DOCTYPE html>
<html ng-controller="InfoColabCtrl">

  <head>
    <meta charset="UTF-8">
    <title>Cleto Gadelha | Crud Colaboradores</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  </head>

  <style>
    #map {
      height: 300px;
      border-radius: 5px;
      border: 1px solid silver;
    }

    .img {
      width: 130px;
      height: 130px;
      position: relative;
      position: relative;
      left: 140px;
    }

    .dentro {
      text-align: center;
      vertical-align: middle;
    }

  </style>

  <h1 class="text-center">Colaborador</h1>
  <body>
    <form name="formInfoColab">
      <div id="divMsg">
        <div class="alert alert-success" ng-show="mensagemSucesso">
          {{mensagemSucesso}}
        </div>
        <div class="alert alert-danger" ng-show="mensagemErro">
          {{mensagemErro}}
        </div>
      </div>
      <a style="cursor: pointer; text-decoration: none !important;" class="fa fa-pencil fa-2x pull-right" title="Editar Colaborador" ng-href="#/editarColab/{{colaborador.id}}" type="button"></a>

      <a style="cursor: pointer; text-decoration: none !important;" class="fa fa-trash-o fa-2x pull-right" ng-click="removeColaborador(colaborador.id)" title="Remover Colaborador" type="button"></a>

      <a style="cursor: pointer; text-decoration: none !important;" class='fa fa-arrow-left fa-2x pull-right' ng-href='#/lista' title="Voltar" type="button"></a>
      <div class="img">
        <!--<img ng-show="$flow.files[0]" my-flow-img="$flow.files[0]" class="img-circle"/> -->
        <img src="images/yeoman.png" class="img img-circle">
      </div>
      <!-- /DRAG AND DROP IMAGE -->
    </br>
  </br>
  <!-- NOME COLABORADOR -->
  <div class="form-group">
    <input class="form-control" disabled id="nome" name="nome" ng-model="colaborador.nome" type="text">
  </div>
  <!-- /NOME COLABORADOR -->
  <!-- PROFISSAO COLABORADOR -->
  <div class="form-group">
    <input class="form-control" disabled id="profissao" name="profissao" ng-model="colaborador.profissao" type="text">
  </div>
  <!-- /PROFISSAO COLABORADOR -->
  <!-- localTrabalho COLABORADOR -->
  <div class="form-group">
    <input class="form-control" disabled id="localTrabalho" name="localTrabalho" ng-model="colaborador.localTrabalho" type="text">
  </div>
  <!-- /localTrabalho COLABORADOR -->

  <div class="form-group">
    <textarea class="form-control" disabled="true" ng-model="colaborador.biografia" name="biografia" id="biografiaTextArea">
    </textarea>
  </div>
  <br/>
  <!-- competencias COLABORADOR -->
  <div>
    <div>
      <label for="competencias">Competências</label>
    </div>
    <span ng-repeat="competencia in colaborador.competencias">
      <button class=" btn btn-group btn-default" disabled>
        {{competencia.descricao}}
      </button>
    </span>
  </div>
</br>
<!-- /competencias COLABORADOR -->
<!-- contatos COLABORADOR -->
<div class="row">
  <div class="form-group">
    <label for="contatos">Contatos</label>
    <br/>
    <br>
      <span class="col-lg-6" ng-repeat="contato in colaborador.listaContatos">
        <i class="{{setaClasseContato(contato.tipo)}}"></i>
        <span style="padding: 10px">{{ contato.contato }}</span>
      </br>
    </br>
  </span>
</div>
</div>
<!-- /contatos COLABORADOR -->
<!-- ENDERECO COLABORADOR -->
<div class="form-group">
<div class="form-inline">
  <i class="fa fa-map-marker fa-2x"></i>
  <input class="form-control" disabled style="width:97%" id="endereco" name="endereco" ng-model="colaborador.endereco" type="text">
</div>
</br>
<div id="map"></div>
</div>

</form>
</body>

</html>
