<!DOCTYPE html>
<html class="bg-black" ng-controller="LoginCtrl">
    <head>
        <meta charset="UTF-8">
        <title>Cleto Gadelha | Collaborators CRUD</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    </head>
    <body class="bg-black">
      <div id="divMsg">
        <div class="alert alert-danger" ng-show="errorMessage">
          {{errorMessage}}
        </div>
      </div>
        <div class="form-box" id="login-box">
            <div class="header">Login</div>
            <form>
                <div class="body bg-gray">
                    <div class="form-group">
                        <input type="text" ng-model="user" name="userid" class="form-control" placeholder="Username"/>
                    </div>
                    <div class="form-group">
                        <input type="password" ng-model="password" name="password" class="form-control" placeholder="Password"/>
                    </div>
                </div>
                <div class="footer">
                    <button class="btn bg-olive btn-block" ng-click="login()">Login</button>
                </div>
            </form>
        </div>

    </body>
</html>
