<!DOCTYPE html>
<html class="bg-black" ng-controller="LoginCtrl">
    <head>
        <meta charset="UTF-8">
        <title>Cleto Gadelha | Crud Colaboradores</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyDK0UX0Xmbt-vUdq_zZyaqF8ULp00iB-r0&libraries=places&sensor=false"></script>
    </head>
    <body class="bg-black">
      <div id="divMsg">
        <div class="alert alert-danger" ng-show="mensagemErro">
          {{mensagemErro}}
        </div>
      </div>
        <div class="form-box" id="login-box">
            <div class="header">Login</div>
            <form>
                <div class="body bg-gray">
                    <div class="form-group">
                        <input type="text" ng-model="user" name="userid" class="form-control" placeholder="Usuário"/>
                    </div>
                    <div class="form-group">
                        <input type="password" ng-model="password" name="password" class="form-control" placeholder="Senha"/>
                    </div>
                </div>
                <div class="footer">
                    <button class="btn bg-olive btn-block" ng-click="login()">Conectar</button>
                </div>
            </form>

            <div class="margin text-center">
                <span>Login utilizando suas redes sociais</span>
                <br/>
                <button class="btn bg-light-blue btn-circle" ng-click="loginFacebook()"><i class="fa fa-facebook"></i></button>
                <button class="btn bg-red btn-circle" ng-click="loginGoogle()"><i class="fa fa-google-plus"></i></button>
            </div>
        </div>

    </body>
</html>
